altair==4.1.0
beautifulsoup4
bleach==4.1.0
blinker==1.4
brotlipy
colorlover==0.3.0
convertdate
cryptocmd==0.6.0
cryptography
cufflinks==0.17.3
DateTime==4.3
holidays
ipython==7.30.1
korean-lunar-calendar
LunarCalendar==0.0.9
finnhub-python
lxml
MarkupSafe==2.0.1
matplotlib
matplotlib-inline==0.1.3
munkres==1.1.4
nltk==3.7
numpy
oauthlib==3.1.1
pandas
pandas-datareader==0.10.0
pandocfilters==1.5.0
parso==0.8.3
patsy==0.5.2
pickleshare==0.7.5
Pillow
plotly==5.4.0
prophet
psaw==0.1.0
pyarrow==6.0.1
pystan==2.19.1.1
pyzmq==22.3.0
redis==4.0.2
regex==2022.4.24
requests
requests-oauthlib==1.3.0
scikit-learn==1.0.1
scipy
squarify==0.4.3
statsmodels==0.13.1
streamlit~=1.10.0
streamlit-option-menu==0.3.2
streamlit-on-Hover-tabs
ta==0.8.0
tablib==3.1.0
tenacity==8.0.1
toml==0.10.2
tweepy==3.10.0
urllib3
yahoofinancials==1.6
yfinance~=0.1.66
quantstats~=0.0.57