pystan==2.19.1.1
plotly==4.14.3
prophet
beautifulsoup4
cufflinks==0.17.3
Cython
cryptocmd
DateTime==4.3
finnhub-python
jsonschema==4.2.1
gunicorn
matplotlib
gunicorn
matplotlib-inline==0.1.3
nltk==3.7
numpy
oauthlib==3.1.1
pandas
pandas-datareader==0.10.0
pickleshare==0.7.5
Pillow
psaw==0.1.0
redis==4.0.2
requests
requests-oauthlib==1.3.0
scipy
squarify==0.4.3
statsmodels==0.13.1
streamlit==1.9.2
streamlit-option-menu==0.3.2
ta==0.8.0
tablib==3.1.0
tweepy==3.10.0
ujson==4.3.0
urllib3
yahoofinancials==1.6
yfinance
